<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue源码实现</title>
  </head>
  <body>
    <h1>Vue 响应式原理</h1>
    <div id="app">
      <p>{{ message }}</p>
      <p>{{ num }}</p>
      <input type="text" v-model="message" />
      <input type="text" v-model="num" />
      <button v-on:click="add">【+】</button>

      <div>
        <button v-on:click="changeNum">更改值</button>
      </div>
    </div>
  </body>
  <script type="module">
    import Vue from "./vue.js";
    const vm = new Vue({
      el: document.querySelector("#app"),
      data: {
        num: 26,
        message: "Hello World",
      },
      methods: {
        add() {
          this.num++;
        },

        changeNum() {
          this.message = "曾经沧海难为水";
        },
      },
    });
  </script>
</html>
