.nine-box {
    display: flex;
    padding: 20px;
}

.nine-box > div {
    margin-right: 20px;
}

.list-wrap {
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.list {
    margin-bottom: 50px;
    margin-left: 20px;
}

.list li {
    padding: 5px 0;
}

.list li span {
    margin-right: 50px;
    font-size: 16px;
}

.list .btn-del {
    width: 80px;
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.list1 .btn-del {
    background-color: #409EFF;
}

.list2 .btn-del {
    background-color: #ff2c39;
}