* {
    margin: 0;
    padding: 0;
}

h1 {
    border-bottom: 1px #333 solid;
}

.box1 {
    background-color: #ff4423;
    width: 100px;
    overflow: hidden; /* 触发 BFC */
}

.box1 p {
    margin-top: 10px;
    height: 100px;
    background-color: #ccc;
}

.box2 {
    background-color: #f7f7f7;
    overflow: hidden; /* 触发 BFC */
}

.box2 p {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #ccc;
}

/* 加一层 div 元素，并触发 BFC 解决兄弟元素之间的 margin 重叠问题 */
.box2 div {
    overflow: hidden;
}

#target {
    text-align: center;
    line-height: 100px;
    color: #fff;
    background-color: #ff2c39;
    height: 100px;
    width: 100px;
    margin: 20px;
}

/* 清除浮动 */
.clearFix::after {
    content: '';
    clear: both;
    display: table;
}

.clearFix {
    *zoom: 1;
}